.background-about {
  min-height: 100vh;
  background: url(https://res.cloudinary.com/ddlokqonz/image/upload/v1623693153/portfolio/Frontend7_p4wpsg.jpg)
    no-repeat;
}
.about {
  width: 40rem;
  margin: 0 21rem auto auto;
}
.about h2 {
  font-size: 70px;
  font-weight: 700;
  color: #fff;
}
.parrafo-about {
  width: 40rem;
  margin: 2rem 2rem 0 0;
}
.parrafo-about p {
  font-size: 19px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 50px;
  color: rgb(65, 65, 65);
}
a {
  text-decoration: none;
  color: rgb(223, 223, 223);
  font-size: 17px;
  margin-left: 3px;
}
a:hover {
  color: rgb(1, 34, 65);
}

