/*Media querys*/

/*Máximo 1920px*/
@media (min-width:1920px){
  .contenedor-principal {
  min-height: 100vh;
  background: url(https://res.cloudinary.com/ddlokqonz/image/upload/v1624894370/portfolio/React_oiyri9.jpg) no-repeat;
}
}
/*Máximo 1440px*/
@media (max-width:1440px){
  .contenedor-principal {
  min-height: 100vh;
  background: url(https://res.cloudinary.com/ddlokqonz/image/upload/v1625579411/portfolio/React1440_wbyciu.jpg) no-repeat;
}
}
/*Máximo 1366px*/
@media (max-width:1366px){
  .contenedor-principal {
  min-height: 100vh;
  background: url(https://res.cloudinary.com/ddlokqonz/image/upload/v1625577644/portfolio/React4-2_cofiey.jpg) no-repeat;
}
}

/*Máximo 1024px*/
@media (max-width:1024px){
  .contenedor-principal {
  min-height: 100vh;
  background: url(https://res.cloudinary.com/ddlokqonz/image/upload/v1624546914/portfolio/React1024_ljtfcf.jpg) no-repeat;
}
}
/*Máximo 800px*/
@media (max-width:800px){
  .contenedor-principal {
  min-height: 100vh;
  background: url(https://res.cloudinary.com/ddlokqonz/image/upload/v1625675016/portfolio/React4-2-800_tgu6ce.jpg) no-repeat;
}
}

/*Máximo 768px*/
@media (max-width:768px){
  .contenedor-principal {
  min-height: 100vh;
  background: url(https://res.cloudinary.com/ddlokqonz/image/upload/v1624577956/portfolio/React4-768-5_wbwcyz.jpg) no-repeat;
}
}
/*Máximo 480px*/
@media (max-width:480px){
  .contenedor-principal {
  width: 480px;
  max-height: 100vh;
  background: url(https://res.cloudinary.com/ddlokqonz/image/upload/v1625839767/portfolio/React4-480-4_grks2g.jpg) no-repeat;
}
}

/*Máximo 320px*/
@media (max-width:320px){
  .contenedor-principal {
    width: 320px;
  background: url(https://res.cloudinary.com/ddlokqonz/image/upload/v1624626643/portfolio/React4-320_wqoat6.jpg) no-repeat;
}
}
