/*Media querys*/

/*Máximo 1920px*/
@media (min-width:1920px){
  .presentacion {
    padding: 43rem 0 0 2rem;
  }
  .presentacion h1 {
    font-size: 80px;
  }
  
  .presentacion p {
    font-size: 50px;
  }
}
/*Máximo 1024px*/
@media (max-width: 1024px) {
  .presentacion {
    padding: 28rem 0 0 2rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .presentacion h1 {
    font-size: 58px;
    font-weight: 700;
  }
  .presentacion p {
    font-size: 30px;
    font-weight: 600;
    margin: 30px 0 50px 0;
    color: #82d8ee;
  }
}
/*Máximo 768px*/
@media (max-width: 768px) {
  .presentacion {
    padding: 38rem 0 0 2rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .presentacion h1 {
    font-size: 58px;
    font-weight: 700;
  }
  .presentacion p {
    font-size: 30px;
    font-weight: 600;
    margin: 30px 0 50px 0;
    color: #82d8ee;
  }
}

/*Máximo 480px*/
@media (max-width: 480px) {
  .presentacion {
    padding: 14rem 0 0 1.8rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .presentacion h1 {
    font-size: 35px;
    font-weight: 700;
  }
  .presentacion p {
    font-size: 20px;
    margin: 1rem 0 1.5rem 2px;
  }
  .position-320px {
    margin-left: 0;
    padding-bottom: 2rem;
  }
}

/*Máximo 320px*/
@media (max-width: 320px) {
  .presentacion {
    padding: 17.5rem 0 0 1rem;
    margin-bottom: 1rem;
    color: white;
  }
  .presentacion p {
    font-size: 25px;
    margin:1rem 0 2rem 0.5rem;
  }
  .position-320px {
    margin-left: 4rem;
  }
}
